<h1>Listing posts</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
    <% @urls.each do |url| %>
    <tr>
      <td><%= url.address %></td>
      <td><%= url.twitter %></td>
    </tr>
  <% end %>
 
  
</table>