<!DOCTYPE html>
<html>
<head>
  <title>Share Dashboard</title>
  <%= stylesheet_link_tag    "application", "bootstrap.min", :media => "all" %>
  <%= javascript_include_tag "application", "main" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
